.task_column_icon{
    width: 30px;
    margin-right: 5px;
}
.task_column_heading{
    display: flex;
    align-items: center;
}
/* Responsive Styles */
@media (max-width: 600px) {
    .task_column_icon {
        width: 25px;
    }
}